.navbar-fixed-top {
    background-color: black;
}

.container.after-navbar {
    margin-top: 90px;
}

.navbar-fixed-top li a {
    line-height: 40px;
}
.navbar-brand.logo {
    margin: 0;
    padding: 0;
}
.navbar-brand.logo img {
    padding-top: 10px;
    height: 70px;
}

.larger-font {
    font-size: 1.5em;
}

#search-bar {
    padding: 10px 25px 0;
    border-radius: 6px;
    background-color: #ffd700;
}

.ship-card {
    min-height: 270px
}

.ship-avatar {
    float: left;
    padding-right: 20px;
    max-width: 30%;
    max-height: 200px;
    display: inline-block;
    width: auto;
    height: auto;
}