{% extends 'base.html' %}

{% block content %}

    <div id="search-bar" class="navbar">
        <form action="" method="post" class="form-inline">
            <div class="form-group larger-font">
                <bold>Looking for a shared star trip?</bold>
            </div>
            <div class="form-group">
                <select name="origin" id="" class="form-control"  required>
                    <option value="">From</option>
                    {% for location in locations %}
                        <option value="{{ location.key.id }}" {% if location.key == searched_origin %}selected{% endif %}>{{ location.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <select name="destiny" id="" class="form-control" required>
                    <option value="">To</option>
                    {% for location in locations %}
                        <option value="{{ location.key.id }}" {% if location.key == searched_destiny %}selected{% endif %}>{{ location.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="date"  class="form-control" placeholder="date" name="date" value="{{ searched_date|date:'c'|default:'' }}" required>
            </div>
            <input type="submit"  class="btn btn-default" value="Search">
        </form>
      </div>
    <div class="trip-list">
        {% for trip in trips %}
            <div class="jumbotron">
                <p>Trip from {{ trip.origin.id }} to {{ trip.destiny.id }} on {{ trip.date|date:"N d, Y" }}</p>
                <p>
                    <em>{{ trip.description|slice:":100" }}</em>
                    Pilot: {{ trip.pilot_name }}, seats: {{ trip.booked_seats }}/{{ trip.available_seats }}
                </p>
                <p><strong>{{ trip.price }}</strong> Galactic Credits</p>
                <a class="btn btn-lg btn-primary" role="button" href="/star_trip/{{ trip.key.id }}">Go to trip</a>
            </div>
        {% empty %}
            <p>
                Oops! I couldn't find any interstelar trips planned in the galaxy
                at the moment. Try in a few minutes
            </p>
        {% endfor %}
    </div>
{% endblock %}